<mat-sidenav-container>
    <mat-toolbar class="sidenav-header">
        <img src="https://media.licdn.com/dms/image/v2/D4D0BAQEw6r4EYvNGTQ/company-logo_200_200/company-logo_200_200/0/1712693392270/bclouder_logo?e=2147483647&v=beta&t=VUL5pycmBC0UZm6ZPmfYCqw2KnCbRTvknEdC7KtMiq0" alt="Logo" class="logo">
      </mat-toolbar>

      <mat-nav-list>
        <a mat-list-item href="/dashboard">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </a>
        <a mat-list-item href="/tarefas">
          <mat-icon>assignment</mat-icon>
          <span>Tarefas</span>
        </a>
        <a mat-list-item href="/funcionarios">
          <mat-icon>people</mat-icon>
          <span>Funcionários</span>
        </a>
      </mat-nav-list>
      

</mat-sidenav-container>

  
