<div class="task-list">
  <div class="header">
    <h4>Lista de Tarefas</h4>
    <button class="add-task-button" (click)="cadastrarTarefa()">+ Nova Tarefa</button>
    <button mat-raised-button class="btn-excluir" (click)="toggleExclusao()">
      Excluir Tarefa
    </button>
  </div>

  <!-- Lista de Tarefas -->
  <div *ngFor="let tarefa of tarefas" class="task-item">
    <h6>{{ tarefa.titulo }}</h6>
    <p>{{ tarefa.descricao }}</p>
    <span>Status: {{ tarefa.status }}</span>

    <!-- Botão para abrir o modal de edição -->
    <button (click)="openEditModal(tarefa)" class="associate-button">
      Editar Tarefa
    </button>

    <button *ngIf="modoExclusao" mat-icon-button color="warn" class="icon-delete" (click)="excluirTarefa(tarefa.id)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>

<!-- Modal de Associação fora da lista de tarefas -->

