.task-list {
    display: grid;
    gap: 10px;
}

.task-item {
    background-color: var(--chuva);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: var(--tempestade);
}

.add-task-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    gap: 10px;
  }
  
.task-item h6 {
    color: var(--horizonte);
}

.btn-excluir {
    background-color: #C1255A;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    gap: 10px;
}

.associate-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .associate-button:hover {
    background-color: #0056b3;
  }
