.task-list {
    display: grid;
    gap: 10px;
}

.task-item {
    background-color: var(--chuva);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: var(--tempestade);
}

.task-item h6 {
    color: var(--horizonte);
}